.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.error-container{
  margin-top: 3rem;
  color: red;
  font-size: 2rem;
}

