.FormCreate {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  border: 2px solid green;
  width: 1200px;
  height: 88px;
}
.PLOFormContainer {
  justify-content: center ;
  border: 1px solid black;
  height: 88px;
  padding-top: 0px;
  width: 1200px;

}


.badge-pill {
  background-color: white;
  text-align: center;
  height: 52px;
  border: 2px solid black
}

.FormCreateStyle{
  border: 6px solid purple;
  height: 88px
}


.formBtn.badge-pill {
  background-color: black;
  color: white;
  padding-left: 40px;
  padding-right: 40px
}
