  .TableMainContainer{
      margin-top: 20px;
      width: 98%;
      border: 1px solid black;

  }

  .tableListMain {
    /* border: 1px solid black; */
    width: 100%
  }

  .tableRowReservationList {

    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%
  }


 .statusActive.rounded-circle {
   margin-top: 6px;
   width: 2em;
   height: 2em;
   background-color: #FED000;
 }

 .statusActive.rounded-circle:hover {
   background-color: black;
 }

 .statusClosed.rounded-circle:hover {
   background-color: black;
 }

 /* .statusClosed.rounded-circle {
  margin-top: 6px;
  width: 38px;
  height: 38px;
  background-color: green;
} */
 .statusClosed.rounded-circle {
   margin-top: 6px;
   width: 2em;
   height: 2em;
   background-color: green;
 }


 .scrollit {
   overflow: scroll;
   height: 40vh;
 }
