.scrollit {
    overflow: scroll;
    height: 40vh;
}
.statusActive.rounded-circle {
  margin-top: 6px ;
  width:  38px;
  height: 38px;
  background-color: #FED000 ;
}

.statusActive.rounded-circle:hover{
  background-color: black;
}

.statusClosed.rounded-circle {
  margin-top: 6px;
  width: 38px;
  height: 38px;
  background-color: green;
}
