.FormCreate {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  border: 2px solid green;
  width: 90vw;
  padding-top: 10px;
}

.OneReservationFormContainer {
  justify-content: center;
  border: 1px solid black;
  height: 88px;
  padding-top: 4px;
  width: 90vw;
}


.badge-pill {
  background-color: white;
  text-align: center;
  height: 52px;
}

.FormCreateStyle {
  border: 2px solid purple;
}


.formBtnOne.badge-pill {
  background-color: black;
  color: white;
  padding-left: 40px;
  padding-right: 40px
}
