.FormCreate {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  border: 2px solid green;
  width: 90%;
  padding-top: 10px;
}

.OneReservationFormContainer {
  justify-content: center;
  border: 1px solid black;
  height: 88px;
  padding-top: 6px;
  width: 90%;
}


.badge-pill {
  background-color: white;
  text-align: center;
  height: 2em;
}

.FormCreateStyle {
  border: 2px solid purple;
}


.formBtnOne.badge-pill {
  background-color: black;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  height: 3.2em
}


.formBtnOne.badge-pill:hover {
  background-color: #FED000;
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  height: 3.2em
}
